@import "tailwindcss";

body{
  background-color: rgb(10, 10, 47);
  color: white;
}
html {
  scroll-behavior: smooth;
}



nav{
  background-color: rgb(16, 16, 60);
}

#bgcolor{
  background-color: rgb(7, 7, 30);

}



@keyframes gradientMove {
  0% { background-position: 0% }
  50% { background-position: 100% }
  100% { background-position: 0% }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 4s ease infinite;
}

.animate-gradient-slow {
  background-size: 300% 300%;
  animation: gradientMove 15s ease infinite;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}


