@import "tailwindcss";

body{
  background-color: rgb(10, 10, 47);
  color: white;
}
html {
  scroll-behavior: smooth;
}



nav{
  background-color: rgb(16, 16, 60);
}

#bgcolor{
  background-color: rgb(7, 7, 30);

}

